::ng-deep .dx-treeview-item-with-checkbox .dx-checkbox {
  top: 14px;
  left: 0px;
}

::ng-deep .dx-treeview-select-all-item {
    padding: 15px 0 15px 0 ;
    border-bottom: none ;
}

::ng-deep .dx-treeview-item-with-checkbox .dx-treeview-item {
  padding-left: 10px;
}

::ng-deep .dx-treeview-node {
    padding-left: 0;
}
