<h2 class="content-block">Pending devices</h2>

<dx-data-grid #dataGrid class="dx-card wide-card"
              [dataSource]="dataSource"
              [showColumnLines]="true"
              [showRowLines]="true"
              [showBorders]="true"
              [rowAlternationEnabled]="true"
              [columnAutoWidth]="true"
              [columnHidingEnabled]="true">

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
  <dxo-filter-row [visible]="true"></dxo-filter-row>


  <dxi-column dataField="image"
              [width]="130"
              cellTemplate="cellTemplate">
  </dxi-column>
  <dxi-column dataField="name"
              [width]="100"
              caption="Name">
  </dxi-column>
  <dxi-column dataField="seri"
              [width]="100"
              caption="Seri">
  </dxi-column>
  <dxi-column dataField="idProductType"
              [width]="150"
              caption="Product Type">
    <dxo-lookup [dataSource]="productTypeDevice"
                valueExpr="id"
                displayExpr="name">
    </dxo-lookup>
  </dxi-column>
  <dxi-column dataField="idBrand"
              [width]="100"
              caption="Brand">
    <dxo-lookup [dataSource]="brandDevice"
                valueExpr="id"
                displayExpr="name">
    </dxo-lookup>
  </dxi-column>
  <dxi-column caption="Staff"
              dataField="idStaff">
    <dxo-lookup [dataSource]="staffDevice"
                valueExpr="id"
                displayExpr="fullname">
    </dxo-lookup>
  </dxi-column>
  <dxi-column caption="Created day"
              dataField="lastUpdatedTracking">
  </dxi-column>
  <dxi-column caption="Location"
              dataField="idLocation">
    <dxo-lookup [dataSource]="locationDevice"
                valueExpr="key"
                displayExpr="value">
    </dxo-lookup>
  </dxi-column>
  <dxi-column cellTemplate="cellTemplate1">
  </dxi-column>
  <div *dxTemplate="let data of 'cellTemplate'">
    <img [src]="backendURL + data.value" width="100" />
  </div>
  <div *dxTemplate="let button of 'cellTemplate1'">
    <dx-button icon="check" type="default" stylingMode="text" (onClick)="AcceptBorrow(button.data)"></dx-button>
    <dx-button icon="remove" type="default" stylingMode="text" (onClick)="Remove(button.data)"></dx-button>
  </div>

</dx-data-grid>

